<div class="toolbar">
  <ul>
    <li class="user-icon"><i class="material-icons get-closer" routerLink="account">account_circle</i>
      <i class="material-icons get-down"routerLink="account">keyboard_arrow_down</i>
    </li>
    <li><i class="material-icons" routerLink="">home</i></li>
    <li><i class="material-icons">message</i></li>
    <li><i class="material-icons" routerLink='hospitals/nearby'>local_hospital</i></li>
    <li><div class="login" routerLink="login">Login</div></li>
    <li><div class="register" routerLink="register">Register</div></li>
  </ul>
  <img class="small-logo" src="/assets/img/small-logo.jpg"/>
</div>
<router-outlet></router-outlet>



