<div class="back is-fullheight">
  <div class="form-wrapper">
    <h3 class="title text"> Personal Information </h3>
    <form class="form">
        <div class="lighter-text info">First Name:
          <input [(ngModel)]="firstName" class="form-control first-name" name="firstName"/>
        </div>

        <div class="lighter-text info">Last Name:
          <input [(ngModel)]="lastName" class="form-control last-name" name="lastName"/>
        </div>

        <div class="lighter-text info">Date Of Birth:
          <input [(ngModel)]="date" name="date" class="form-control date"/>
        </div>

        <div class="lighter-text info">Blood Type:
          <input [(ngModel)]="bloodType" name="bloodType" list="blood-type" class="form-control blood"/>
          <datalist id="blood-type">
            <option value="A+">
            <option value="A-">
            <option value="B+">
            <option value="B-">
            <option value="AB+">
            <option value="AB-">
            <option value="O+">
            <option value="O-">
          </datalist>
        </div>

        <div class="lighter-text info">Gender:
          <input [(ngModel)]="gender" name="gender" list="gender" class="form-control gender"/>
          <datalist id="gender">
            <option value="M">
            <option value="F">
          </datalist>
        </div>

    </form>

    <h3 class="title text"> Account Information </h3>
    <form class="form" method="get">
      <div class="lighter-text info">Email
          <input [(ngModel)]="email" name="email" class="form-control"/>
      </div>

      <div class="lighter-text info">Password:
          <input type="password" [(ngModel)]="Password" name="password" class="form-control"/>
      </div>
    </form>

    <h3 class="title text"> Contact Information </h3>
    <form class="form">
      <div class="lighter-text info" hidden>Address:
          <input [(ngModel)]="address" name="address" class="form-control"/>
      </div>

      <div class="lighter-text info">City
          <input [(ngModel)]="city" name="city" class="form-control"/>
      </div>

      <div class="lighter-text info">County
          <input [(ngModel)]="county" name="county" class="form-control county"/>
      </div>

    </form>

    <h3 class="title text"> Donation History </h3>
    <form class="form" method="get">
    </form>

    <input type="submit" value="Save changes" class="btn"/>


  </div>
</div>
