<div class="back is-fullheight">
    <div id="hide">
        <div class="buttons">
            <h3 class="title text">Add a mobile bank</h3>
            <button class="btn text" (click)="addMobileBank()"></button>
        </div>
        <div class="buttons">
            <h3 class="title text">Add a donation</h3>
            <button class="btn text" (click)="addDonation()"></button>
        </div>
    </div>
    <form class="form mobilebank" id="mobilebank" [formGroup]="mobilebankForm" method="post" (ngSubmit)="onSubmitMobileBank()" novalidate hidden>
        <div class="form-group">
            <div class="text" asp-for="name">Name</div>
              <input asp-for="name" class="form-control" formControlName="name"/>
            <span asp-validation-for="name" class="text-muted"></span>
        </div>

        <div class="form-group">
            <div class="text" asp-for="about">About</div>
              <input asp-for="about" class="form-control" formControlName="about"/>
            <span asp-validation-for="about" class="text-muted"></span>
        </div>

        <div class="form-group">
            <div class="text" asp-for="date">Date</div>
              <input asp-for="date" placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])-31))" class="form-control" formControlName="date"/>
            <span asp-validation-for="date" class="text-muted"></span>
        </div>

        <div class="form-group">
            <div class="text" asp-for="city">City</div>
              <input asp-for="city" class="form-control" formControlName="city"/>
            <span asp-validation-for="city" class="text-muted"></span>
        </div>
    </form>

    <form class="form donation" id="donation" [formGroup]="donationForm" method="post" (ngSubmit)="onSubmitDonation()" novalidate hidden>

    </form>

    <notifier-container></notifier-container>
</div>
  