<div class="back is-fullheight">
    <div class="container">
        <h3 class="title" *ngFor="let hospital of hospitals | slice:0:1; let i=index;">Hospitals near {{hospital.city}}:</h3>
        <ul>
            <li class="text" *ngFor="let hospital of hospitals;">
               * {{hospital.name}} : {{hospital.address}}
            </li>
        </ul>
    </div>
    <div class="search">
        <input  [(ngModel)]="city" />
        <button class="btn text" (click)="searchByCityOrCounty(city)">Search</button>
    </div>
</div>
