<div class="back is-fullheight">
    <div class="form-wrapper">
  
      <h3 class="title text">Hospital Registration </h3>
      <form  class="form" [formGroup]="uploadForm" method="post"  (ngSubmit)="onSubmit()" novalidate>
  
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
          <div class="text" asp-for="username" >Username</div>
          <input asp-for="username" class="form-control" formControlName="username"/>
          <span asp-validation-for="username" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="name" >Name</div>
          <input asp-for="name" class="form-control" formControlName="name"/>
          <span asp-validation-for="name" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="city">City</div>
          <input asp-for="city" class="form-control" formControlName="city"/>
          <span asp-validation-for="city" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="county">County</div>
          <input asp-for="county" class="form-control" formControlName="county"/>
          <span asp-validation-for="county" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="address">Address</div>
          <input asp-for="address" class="form-control" formControlName="address"/>
          <span asp-validation-for="address" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="email">Email</div>
          <input asp-for="email" class="form-control" formControlName="email"/>
          <span asp-validation-for="email" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="password">Password</div>
          <input asp-for="password" type="password" class="form-control" formControlName="password"/>
          <span asp-validation-for="password" class="text-muted"></span>
        </div>

        <div class="form-group">
          <div class="text" asp-for="confirm-password">Confirm Password</div>
          <input asp-for="confirm-password" type="password" class="form-control"/>
          <span asp-validation-for="confirm-password" class="text-muted"></span>
        </div>

        <div class="form-group">
          <input type="submit" value="Create account" class="btn btn-success text"/>
        </div>
  
        <div id="results"></div>
  
      </form>
      <div class="lighter-text">Do you have an account?</div>
      <div class="login-button text" routerLink="/login/login-h">Login</div>
    </div>
  </div>
  